* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("paper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

nav {
  background-color: white;
}

#jumbotron {
  background: 0;
}
#about {
  background-color: white;
}
#tools {
  background-color: rgba(0, 66, 82, 0.452);
  padding: 3rem 0;
}

.section-title {
  width: 100%;
  padding: 6rem;
  text-decoration: underline;
}
#projects {
  border-top: 5px dashed black;
  background-color: white;
}
.project-cards {
  margin-top: 5rem;
  margin-bottom: 15rem;
}
.section-content {
  margin-bottom: 5rem;
}
.section-content-contact {
  margin-bottom: 5rem;
}
#contact {
  background-color: rgba(0, 35, 44, 0.89);
}
#contact h3 {
  color: white;
  text-decoration: underline;
}
#contact form {
  background-color: white;
  padding: 3rem 2rem;
  margin-bottom: 2rem;
}
#contact iframe {
  margin-top: 2rem;
}
.div-form {
  margin-top: 1rem;
}
#survey-form label,
#survey-form input,
#survey-form textarea {
  display: block;
  width: 100%;
}
#footer {
  background-color: white;
}

#footer a,
#footer span {
  margin: 1rem;
}
